<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Title')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-title" data-rule="required" class="form-control" name="row[title]" type="text" value="{$row.title|htmlentities}">
        </div>
    </div>
    <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-12 col-sm-2">{:__('Pid')}:</label>-->
        <!--<div class="col-xs-12 col-sm-8">-->
            <!--<input id="c-pid" data-rule="required" class="form-control" name="row[pid]" type="number" value="{$row.pid|htmlentities}">-->
        <!--</div>-->
    <!--</div>-->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Sort')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-sort" data-rule="required" class="form-control" name="row[sort]" type="number" value="{$row.sort|htmlentities}">
        </div>
    </div>
    <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-12 col-sm-2">{:__('List_row')}:</label>-->
        <!--<div class="col-xs-12 col-sm-8">-->
            <!--<input id="c-list_row" data-rule="required" class="form-control" name="row[list_row]" type="text" value="{$row.list_row|htmlentities}">-->
        <!--</div>-->
    <!--</div>-->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Meta_title')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-meta_title" data-rule="required" class="form-control" name="row[meta_title]" type="text" value="{$row.meta_title|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Keywords')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-keywords" data-rule="required" class="form-control" name="row[keywords]" type="text" value="{$row.keywords|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Description')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-description" data-rule="required" class="form-control" name="row[description]" type="text" value="{$row.description|htmlentities}">
        </div>
    </div>
    <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-12 col-sm-2">{:__('Thumb_size')}:</label>-->
        <!--<div class="col-xs-12 col-sm-8">-->
            <!--<input id="c-thumb_size" class="form-control" name="row[thumb_size]" type="text" value="{$row.thumb_size|htmlentities}">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-12 col-sm-2">{:__('Template_index')}:</label>-->
        <!--<div class="col-xs-12 col-sm-8">-->
            <!--<input id="c-template_index" data-rule="required" class="form-control" name="row[template_index]" type="text" value="{$row.template_index|htmlentities}">-->
        <!--</div>-->
    <!--</div>-->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Template_lists')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-template_lists" data-rule="required" data-source="LdyPicture/index" class="form-control selectpage"
                   name="row[template_lists]" type="text" value="{$row.template_lists}" data-field="tpl" data-primary-key="tpl">
        </div>
    </div>
    <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-12 col-sm-2">{:__('Template_detail')}:</label>-->
        <!--<div class="col-xs-12 col-sm-8">-->
            <!--<input id="c-template_detail" data-rule="required" class="form-control" name="row[template_detail]" type="text" value="{$row.template_detail|htmlentities}">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-12 col-sm-2">{:__('Template_edit')}:</label>-->
        <!--<div class="col-xs-12 col-sm-8">-->
            <!--<input id="c-template_edit" data-rule="required" class="form-control" name="row[template_edit]" type="text" value="{$row.template_edit|htmlentities}">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-12 col-sm-2">{:__('Model')}:</label>-->
        <!--<div class="col-xs-12 col-sm-8">-->
            <!--<input id="c-model" data-rule="required" class="form-control" name="row[model]" type="text" value="{$row.model|htmlentities}">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-12 col-sm-2">{:__('Type')}:</label>-->
        <!--<div class="col-xs-12 col-sm-8">-->
            <!--<input id="c-type" data-rule="required" class="form-control" name="row[type]" type="text" value="{$row.type|htmlentities}">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-12 col-sm-2">{:__('Link')}:</label>-->
        <!--<div class="col-xs-12 col-sm-8">-->
            <!--<input id="c-link" data-rule="required" class="form-control" name="row[link]" type="text" value="{$row.link|htmlentities}">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-12 col-sm-2">{:__('Allow_publish')}:</label>-->
        <!--<div class="col-xs-12 col-sm-8">-->
            <!--<input id="c-allow_publish" data-rule="required" class="form-control" name="row[allow_publish]" type="number" value="{$row.allow_publish|htmlentities}">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-12 col-sm-2">{:__('Display')}:</label>-->
        <!--<div class="col-xs-12 col-sm-8">-->
            <!--<input id="c-display" data-rule="required" class="form-control" name="row[display]" type="number" value="{$row.display|htmlentities}">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-12 col-sm-2">{:__('Reply')}:</label>-->
        <!--<div class="col-xs-12 col-sm-8">-->
            <!--<input id="c-reply" data-rule="required" class="form-control" name="row[reply]" type="number" value="{$row.reply|htmlentities}">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-12 col-sm-2">{:__('Check')}:</label>-->
        <!--<div class="col-xs-12 col-sm-8">-->
            <!--<input id="c-check" data-rule="required" class="form-control" name="row[check]" type="number" value="{$row.check|htmlentities}">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-12 col-sm-2">{:__('Reply_model')}:</label>-->
        <!--<div class="col-xs-12 col-sm-8">-->
            <!--<input id="c-reply_model" data-rule="required" class="form-control" name="row[reply_model]" type="text" value="{$row.reply_model|htmlentities}">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-12 col-sm-2">{:__('Extend')}:</label>-->
        <!--<div class="col-xs-12 col-sm-8">-->
            <!--<textarea id="c-extend" class="form-control " rows="5" name="row[extend]" cols="50">{$row.extend|htmlentities}</textarea>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-12 col-sm-2">{:__('Create_time')}:</label>-->
        <!--<div class="col-xs-12 col-sm-8">-->
            <!--<input id="c-create_time" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[create_time]" type="text" value="{:$row.create_time?datetime($row.create_time):''}">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-12 col-sm-2">{:__('Update_time')}:</label>-->
        <!--<div class="col-xs-12 col-sm-8">-->
            <!--<input id="c-update_time" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[update_time]" type="text" value="{:$row.update_time?datetime($row.update_time):''}">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-12 col-sm-2">{:__('View')}:</label>-->
        <!--<div class="col-xs-12 col-sm-8">-->
            <!--<input id="c-view" class="form-control" name="row[view]" type="number" value="{$row.view|htmlentities}">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>-->
        <!--<div class="col-xs-12 col-sm-8">-->
            <!--<input id="c-status" data-rule="required" class="form-control" name="row[status]" type="number" value="{$row.status|htmlentities}">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-12 col-sm-2">{:__('Icon')}:</label>-->
        <!--<div class="col-xs-12 col-sm-8">-->
            <!--<input id="c-icon" data-rule="required" class="form-control" name="row[icon]" type="text" value="{$row.icon|htmlentities}">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-12 col-sm-2">{:__('Is_inherit')}:</label>-->
        <!--<div class="col-xs-12 col-sm-8">-->
            <!--<input id="c-is_inherit" class="form-control" name="row[is_inherit]" type="number" value="{$row.is_inherit|htmlentities}">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-12 col-sm-2">{:__('Groups')}:</label>-->
        <!--<div class="col-xs-12 col-sm-8">-->
            <!--<input id="c-groups" data-rule="required" class="form-control" name="row[groups]" type="text" value="{$row.groups|htmlentities}">-->
        <!--</div>-->
    <!--</div>-->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Banner')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-banner" data-rule="required" class="form-control" size="50" name="row[banner]" type="text" value="{$row.banner|htmlentities}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-banner" class="btn btn-danger plupload" data-input-id="c-banner" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-banner"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-banner" class="btn btn-primary fachoose" data-input-id="c-banner" data-mimetype="image/*" data-multiple="true"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-banner"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-banner"></ul>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Content')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-content" class="editor" rows="5" name="row[content]" cols="50">{$row.content|htmlentities}</textarea>
        </div>
    </div>
    <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-12 col-sm-2">{:__('Water_enable')}:</label>-->
        <!--<div class="col-xs-12 col-sm-8">-->
            <!--<input id="c-water_enable" class="form-control" name="row[water_enable]" type="number" value="{$row.water_enable|htmlentities}">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-12 col-sm-2">{:__('Water_path')}:</label>-->
        <!--<div class="col-xs-12 col-sm-8">-->
            <!--<input id="c-water_path" class="form-control" name="row[water_path]" type="number" value="{$row.water_path|htmlentities}">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-12 col-sm-2">{:__('Water_position')}:</label>-->
        <!--<div class="col-xs-12 col-sm-8">-->
            <!--<input id="c-water_position" class="form-control" name="row[water_position]" type="number" value="{$row.water_position|htmlentities}">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-12 col-sm-2">{:__('New_win')}:</label>-->
        <!--<div class="col-xs-12 col-sm-8">-->
            <!--<input id="c-new_win" class="form-control" name="row[new_win]" type="number" value="{$row.new_win|htmlentities}">-->
        <!--</div>-->
    <!--</div>-->
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
